## Murphy and Applegate
### Anomaly Detection Project
#### Tyler's Second Notebook

In [1]:
from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns

from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler

from env import host, user, password
import acquire
import prepare
import explore

### Data Wrangling

In [2]:
# Data Acquisition
df = acquire.get_cohort_curr_data()

In [3]:
# Initial Prep
df = prepare.initial_prep(df)

## Question 2
- 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [4]:
# split by program
df_1, df_2, df_3, df_4 = explore.q2_prep(df)

In [5]:
# look at full stack
df_1 = explore.add_math(df_1)
df_1

                       min_x   min_y  max_x    max_y  mean  sum  range  zscore
endpoint
java-iii/jsp-and-jstl     26  Arches     93  Olympic  56.0  224     67  2.7904

#### Question 2 - Full Stack - Key Findings & Takeaways:
- We only wanted to look at values where the min number of page views > 10
    - The assumption is that anything < 10 means it's probably not class related
- There are 2 lessons where the range is greater than 50 ('java-iii/jsp-and-jstl', 'java-iii/jsp-and-jstl') 
- Both show Olympic viewing the lessons far more often than Arches

In [6]:
# look at java
df_2 = explore.add_math(df_2)
df_2

,min_x,min_y,max_x,max_y,mean,sum,range,zscore
endpoint,,,,,,,,
html-css/css-ii/bootstrap-grid-system,23,Andromeda,418,Zion,251.12,6278,395,17.4116

#### Question 2 - Java - Key Findings & Takeaways:
- We only wanted to look at values where the min number of page views > 10
    - The assumption is that anything < 10 means it's probably not class related
- There is only 1 lesson where the range is greater than 50 ('html-css/css-ii/bootstrap-grid-system	')
- This shows Zion viewing the lesson far more often than Andromeda

In [7]:
# look at Data Science
df_3 = explore.add_math(df_3)
df_3

,min_x,min_y,max_x,max_y,mean,sum,range,zscore
endpoint,,,,,,,,
search/search_index.json,162,Bayes,664,Florence,440.6,2203,502,4.9759
classification/overview,35,Bayes,1109,Florence,357.0,1785,1074,4.0318
classification/scale_features_or_not.svg,28,Bayes,943,Florence,318.0,1590,915,3.5913
fundamentals/AI-ML-DL-timeline.jpg,24,Bayes,624,Florence,288.6,1443,600,3.2593
fundamentals/modern-data-scientist.jpg,24,Bayes,627,Florence,287.6,1438,603,3.2480
sql/mysql-overview,27,Bayes,774,Florence,284.8,1424,747,3.2164
fundamentals/intro-to-data-science,25,Bayes,615,Florence,282.6,1413,590,3.1915

#### Question 2 - Data Science - Key Findings & Takeaways:
- We only wanted to look at values where the min number of page views > 10
    - The assumption is that anything < 10 means it's probably not class related
- There countless lessons where various cohorts ('Florence, Easley, Darden') outviewed Bayes
- Some evidence to suggest positive relationship between cohort dates attended and page views

In [8]:
# look at Front End
explore.add_math(df_4)

Empty DataFrame
Columns: [min_x, min_y, max_x, max_y, mean, sum, range, zscore]
Index: []

#### Question 2 - Front End - Key Findings & Takeaways:
- We only wanted to look at values where the min number of page views > 10
    - The assumption is that anything < 10 means it's probably not class related
- No values showed up (not much data for this program)
- Appears to only have been 1 cohort, for a very brief period of time