## Murphy and Applegate
### Anomaly Detection Project
#### Tyler's First Notebook

In [1]:
from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns

from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler

from env import host, user, password
import acquire
import prepare
import explore

In [ ]:
df = acquire.get_cohort_curr_data()

In [ ]:
df = prepare.initial_prep(df)

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

Functions and Takeaways in tyler_02.ipynb

6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

#### Steps to answering question 6:
- [x] Reacquire data
- [x] Redo initial_prep
- [x] Use remove_home function from q2
- [x] Remove all enties where 'end_date' > index
- [x] Create q6_cols function that keeps 'index', 'cohort', 'endpoint', 'end_date', 'program_id'
- [x] Use split_by_program function from q2

In [4]:
# Reacquire data
df = acquire.get_cohort_curr_data()

In [5]:
# Redo initial_prep
df = prepare.initial_prep(df)

In [6]:
# Question 6 specific prep, before splitting by program
df = explore.q6_prep(df)

In [7]:
df_1, df_2, df_3, df_4 = explore.q6_split(df)

In [8]:
# Now let's look at program 1
df_1 = explore.q6_math(df_1)
df_1

                  min  max    mean   sum  range   zscore
endpoint
index.html          1  877  126.38  1011    876  10.8338
javascript-i        1  294   66.91   736    293   8.1942
html-css            1  215   49.27   542    214   6.0344
spring              2  222   55.67   501    220   5.4539
java-iii            1  224   53.22   479    223   5.2145
java-i              1  138   40.36   444    137   4.9433
java-ii             1  167   50.44   454    166   4.9423
javascript-ii       2  204   47.67   429    202   4.6701
appendix            1  170   45.44   409    169   4.4525
jquery              1  133   38.22   344    132   3.7448
mysql               2  105   31.56   284    103   3.0916
content/html-css    1   59   26.20   262     58   2.8878

In [9]:
# Now let's look at program 2
explore.q6_math(df_2)

,min,max,mean,sum,range,zscore
endpoint,,,,,,
javascript-i,6,1817,184.04,4233,1811,13.2490
spring,12,1403,163.96,3771,1391,11.8029
search/search_index.json,1,1349,155.26,3571,1348,11.1770
html-css,3,1284,136.74,3145,1281,9.8436
java-iii,13,1393,133.13,3062,1380,9.5838
java-ii,10,1260,130.00,2990,1250,9.3585
java-i,18,855,116.78,2686,837,8.4070
appendix,9,1288,116.39,2677,1279,8.3788
javascript-ii,9,993,110.96,2552,984,7.9876
toc,1,911,105.30,2422,910,7.5807
mysql,8,895,100.00,2300,887,7.1988
jquery,3,917,92.39,2125,914,6.6511
spring/fundamentals/repositories,2,641,65.09,1497,639,4.6855
spring/fundamentals/controllers,9,386,64.74,1489,377,4.6605
spring/fundamentals/views,8,537,64.26,1478,529,4.6260
spring/setup,4,319,60.61,1394,315,4.3631
jquery/ajax/weather-map,1,1050,76.06,1293,1049,3.9821
java-iii/servlets,5,540,48.87,1124,535,3.5180
html-css/elements,3,318,47.91,1054,315,3.2921
spring/fundamentals/relationships,1,478,44.91,1033,477,3.2332
java-iii/jsp-and-jstl,4,480,43.83,1008,476,3.1549
java-i/syntax-types-and-variables,4,306,42.70,982,302,3.0736
java-i/introduction-to-java,3,277,42.39,975,274,3.0517
spring/fundamentals/form-model-binding,1,396,42.13,969,395,3.0329
java-ii/object-oriented-programming,1,342,42.13,969,341,3.0329
html-css/introduction,2,262,41.14,905,260,2.8267
mysql/tables,1,409,37.43,861,408,2.6949
javascript-i/javascript-with-html,2,310,37.39,860,308,2.6917
mysql/basic-statements,1,397,36.83,847,396,2.6510
java-iii/jdbc,2,451,36.57,841,449,2.6322
spring/fundamentals/security/authentication,3,314,40.14,843,311,2.6271
javascript-i/functions,1,271,36.35,836,270,2.6166
mysql/introduction,5,265,36.00,828,260,2.5916
java-i/methods,1,333,35.74,822,332,2.5728
java-i/console-io,2,287,35.04,806,285,2.5227
mysql/users,2,320,35.00,805,318,2.5196
spring/fundamentals/services,3,342,34.83,801,339,2.5071
html-css/forms,2,284,36.45,802,282,2.5050

In [10]:
# Now let's look at program 3
explore.q6_math(df_3)

,min,max,mean,sum,range,zscore
endpoint,,,,,,
search/search_index.json,149,187,164.33,493,38,8.1461
sql/mysql-overview,27,125,91.67,275,98,4.5439
classification/overview,35,136,89.00,267,101,4.4118
classification/scale_features_or_not.svg,28,96,73.33,220,68,3.6352
anomaly-detection/AnomalyDetectionCartoon.jpeg,14,105,64.33,193,91,3.1891
anomaly-detection/overview,15,104,63.67,191,89,3.1559
fundamentals/AI-ML-DL-timeline.jpg,24,101,63.00,189,77,3.1229
fundamentals/modern-data-scientist.jpg,24,100,62.33,187,76,3.0900
fundamentals/intro-to-data-science,25,96,61.33,184,71,3.0404

In [11]:
# Now let's look at program 4
explore.q6_math(df_4)

Empty DataFrame
Columns: [min, max, mean, sum, range, zscore]
Index: []